<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/JiaoYuQiao/solidityloan/raw/master/%E9%80%9F%E8%9E%8D%E4%B9%8B%E5%AE%B6-2.2-signed.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/JiaoYuQiao/solidityloan/raw/master/57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/JiaoYuQiao/solidityloan/raw/master/512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.solidityloan</string>
				<key>bundle-version</key>
				<string>2.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>速融之家</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
