<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://srzj.surongzhijia.com/product/solidityloan.ipa?Expires=1556632092&OSSAccessKeyId=TMP.AgHxz1V14h-sRdgV-qgqylGUaXoUxo_pOCrVmdHPJtch8yaS2Fzibmb6_XbJMC4CFQC61OSf659ZyEssmoe7EfA2EjogjQIVALd4uANgwZHyS3Cd0Syl-IfiMQR_&Signature=mPGGy06F31Ng0UzJu4lHKbfbv1k%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://srzj.surongzhijia.com/ios/57.png?Expires=1556632000&OSSAccessKeyId=TMP.AgHxz1V14h-sRdgV-qgqylGUaXoUxo_pOCrVmdHPJtch8yaS2Fzibmb6_XbJMC4CFQC61OSf659ZyEssmoe7EfA2EjogjQIVALd4uANgwZHyS3Cd0Syl-IfiMQR_&Signature=%2FJx7eXAwzaRkviOZ0QpCzvC96J8%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://srzj.surongzhijia.com/ios/512.png?Expires=1556632708&OSSAccessKeyId=TMP.AgHxz1V14h-sRdgV-qgqylGUaXoUxo_pOCrVmdHPJtch8yaS2Fzibmb6_XbJMC4CFQC61OSf659ZyEssmoe7EfA2EjogjQIVALd4uANgwZHyS3Cd0Syl-IfiMQR_&Signature=zEXbC6f4pgZdVlgjwSdDjvhfx98%3D</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.solidityloan</string>
				<key>bundle-version</key>
				<string>2.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>速融之家</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
